html,
body {
  background: #e4e4e4;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@keyframes beat {

from{
    transform: scale(1.0);
}
to{
  transform: scale(1.5);
 
}
}
.heart{
  animation-name: beat;
  animation-iteration-count: infinite;
  /* animation-delay: 1s; */
  animation-duration: 0.5s;
  /* animation-timing-function: linear; */
  /* animation-fill-mode: forwards; */
}



.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  box-shadow: -1px 11px 11px 1px rgba(237,237,237,0.75);
  display: none;
  position: fixed;
  background-color: #f9f9f9;
/* border: 1px solid red; */
  padding: 12px 16px;
  z-index: 1;
  width:100vw !important;
  height: 450px;
  border-top: 1px solid #e8e8e8;
  left: 0;
  /* margin-top: 120px; */
}

.dropdown:hover .dropdown-content {
  display: block;
 
}

.dropicon{
  position: relative;
  display: inline-block;
  padding: 20px 5px 0 5px  ;
  height:100%;

}

.dropicon-content{
  display: none;
  position:absolute;
  background:#fff;
  width:200px;
  height:250px;
  z-index: 20;
  font-size: 13px;
  padding: 20px 30px;
} 

.dropicon:hover{
  background: white;
}

.dropicon:hover .dropicon-content{
  display: block;
 
}
.gallery-item > button {
opacity: 0;
}
.gallery-item:hover > button {
  opacity: 1;
}